# filepath: .gitignore
.gitignore
*.bak
*.log
tmp/
*.swp
.env
node_modules/
config2.toml
config-code-settings.json
.vscode/extensions.json
.vscode/settings.json
.history-memo/2025-09-04.md
.zencoder/rules/repo.md
package-lock.json
